
@{
    ViewData["Title"] = "Library";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<div style="margin-top:15px">
    <div class="col-sm-12">
        <div class="bg-secondary rounded h-100 p-4">
            <div class="row" style="background-image:linear-gradient(to bottom,#5c5858,#261515);padding:20px;border-radius:10px;">
                <div class="col-3">
                    <img class="img-fluid w-100" src="/lib/mtp.jpg" alt="" style="width:280px;height:280px;border-radius:10px;">
                </div>
                <div class="col-9" style="margin-top:30px;">
                    <h6>Playlist</h6>
                    <h2 style="font-size:56px;font-weight:700">Danh sách phát của tôi #2</h2>
                    <h6 style="color:#e8d9d9;">
                        chill beats, lofi vibes, new tracks every week...
                    </h6>
                    <h5 style="color:#bebebe;"><i class="fa fa-headphones" aria-hidden="true"></i> 5.255.931 lượt thích 750 bài hát, hơn 24 giờ</h5>
                    <h5 style="color:#bebebe;">Tên cá nhân</h5>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Tiêu đề</th>
                        <th scope="col">Album</th>
                        <th scope="col">Ngày thêm</th>
                        <th scope="col"><i class="fa fa-clock me-2"></i></th>
                        <th scope="col">Playlist</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><a href="/Home/MusicDetail"><img class="rounded-circle me-lg-2" src="/lib/mtp.jpg" alt="" style="width: 40px; height: 40px;">John</a></td>
                        <td>Doe</td>
                        <td>2/12/1222</td>
                        <td>2:99</td>
                        <td><a href="#"><i class="fa fa-plus mee" aria-hidden="true"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .mee {
        color: #fff;
        margin-top: 10px;
        margin-left: 20px;
    }
</style>

